h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: purple;
    font-size: 40px;
    width: calc(100%);
    color: white;
    border-radius: 10px;
    border: 2px black solid;
    margin-left: -2px;
    margin-top:-1%;
    margin-bottom: -10px;
}

#card{
    width: 30%;
    background-color: lightblue;
    margin: 0;
    border: 3px black solid;
    border-radius: 10px;
}

#profile {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

#dog {
    object-fit: cover;
    border: 10px pink solid;
    border-radius:50%;
    width: 60%;
    height: 60%;
    margin-left: 18%;
    margin-right: 18%;
    /*display:none;*/
}

#score {
    background-color: lightgrey;
    width: 30%;
    height: auto;
    margin-top: 10px;
    padding-left: 10px;
    padding-top: 0;
}

#lives {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-right: 10px;
    margin-top: -20px;
    margin-bottom: -50px;
}

#score > h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: darkred;
}

h2 > span {
    color: green;
}

#grid{
    min-height: 50%;
}

.breed {
    color:whitesmoke;
    width: 90%;
    background-color: darkmagenta;
    border: 5px black solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 4%;
}

#result {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    color: whitesmoke;
    background-color: darkred;
    text-align:center;
}

#next {
    color:white;
    width: 90%;
    background-color: #069c2e;
    border: 5px black solid;
    border-radius: 15px;
    padding: 5px;
    margin: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    margin-left: 4%;
    display: none;
}

.breed:hover{
    transform: scale(1.05);
    background-color: indigo;
    color: lightcoral;
}

#next:hover {
    transform: scale(1.05);
    background-color: #07591d;
    color: white;
}

#info {
    width: calc(30% - 40px);
    font-size: 20px;
    margin-left: 20px;
}